#menu-text {
    color: white;
    font-size: 0.6em;
    vertical-align: baseline;
}

.arrow {
    filter: invert(72%) sepia(75%) saturate(4232%) hue-rotate(195deg) brightness(98%) contrast(89%);
}

#header-content {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    justify-content: flex-start;
}

#header-content img,p {
    cursor: pointer;
}

@media screen and (max-width: 400px) {

    #header_content {
        margin-left: 1%;
    }

}

